In [3]:
import pandas as pd

In [8]:
#Importing Dataset
df = pd.read_csv(r'C:\Users\windows\OneDrive\Desktop\Precious Data\Campaign_Rev.csv', encoding = 'cp1256')

In [16]:
df.describe()

               Reach    Impressions
count   15432.000000   15432.000000
mean     5889.212221    8040.249352
std     15233.470041   21326.178041
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       0.000000
75%      3478.000000    4941.500000
max    175629.000000  253558.000000

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15432 entries, 0 to 15431
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Reporting starts      15432 non-null  object
 1   Reporting ends        15432 non-null  object
 2   Campaign name         15432 non-null  object
 3   Campaign delivery     15432 non-null  object
 4   Reach                 15432 non-null  int64
 5   Impressions           15432 non-null  int64
 6    Amount spent (AED)   15432 non-null  object
 7   Ends                  15432 non-null  object
dtypes: int64(2), object(6)
memory usage: 964.6+ KB
None

In [9]:
df.head()

,Reporting starts,Reporting ends,Campaign name,Campaign delivery,Ad set budget,Ad set budget type,Attribution setting,Reach,Impressions,Amount spent (AED),Ends
0,12/31/2024,12/31/2024,HT_Lead_Testimonial - new,active,Using ad set budget,0,7-day click or 1-day view,5168,6678,"1,556.28",ظ…ط³طھظ…ط±ط©
1,12/31/2024,12/31/2024,KL // LG // CBO // DE Robert Geiss Interview 1...,inactive,1600,Daily,-,0,0,-,ظ…ط³طھظ…ط±ط©
2,12/31/2024,12/31/2024,HT_Lead_ABO_DIETER_BOHLEN,active,5000,Daily,7-day click or 1-day view,11426,13649,"2,037.50",ظ…ط³طھظ…ط±ط©
3,12/31/2024,12/31/2024,KL_LG_CBO_Dubai أœberlebensstrategien Report 2...,active,3000,Daily,7-day click or 1-day view,10059,11486,"2,972.06",ظ…ط³طھظ…ط±ط©
4,12/31/2024,12/31/2024,HT_Lead_Teestimonial,inactive,1000,Daily,-,0,0,-,ظ…ط³طھظ…ط±ط©

In [10]:
#Dropping Extra Columns
df = df.drop(["Ad set budget", "Ad set budget type", "Attribution setting"], axis=1)

In [12]:
df.head()

,Reporting starts,Reporting ends,Campaign name,Campaign delivery,Reach,Impressions,Amount spent (AED),Ends
0,12/31/2024,12/31/2024,HT_Lead_Testimonial - new,active,5168,6678,"1,556.28",ظ…ط³طھظ…ط±ط©
1,12/31/2024,12/31/2024,KL // LG // CBO // DE Robert Geiss Interview 1...,inactive,0,0,-,ظ…ط³طھظ…ط±ط©
2,12/31/2024,12/31/2024,HT_Lead_ABO_DIETER_BOHLEN,active,11426,13649,"2,037.50",ظ…ط³طھظ…ط±ط©
3,12/31/2024,12/31/2024,KL_LG_CBO_Dubai أœberlebensstrategien Report 2...,active,10059,11486,"2,972.06",ظ…ط³طھظ…ط±ط©
4,12/31/2024,12/31/2024,HT_Lead_Teestimonial,inactive,0,0,-,ظ…ط³طھظ…ط±ط©

In [18]:
print(df["Ends"].unique())

['Ongoing' '2/11/2025' '1/1/1970' '??????' 'Patuloy']

In [24]:
#Replacing Values for Data Standardization
df["Ends"] = df["Ends"].replace({"ظ…ط³طھظ…ط±ط©": "Ongoing", "2/11/2025": "End", "1/1/1970": "End", "Patuloy": "Ongoing", "??????": "Ongoing"})
df.head(20)

,Reporting starts,Reporting ends,Campaign name,Campaign delivery,Reach,Impressions,Amount spent (AED),Ends
0,12/31/2024,12/31/2024,HT_Lead_Testimonial - new,active,5168,6678,"1,556.28",Ongoing
1,12/31/2024,12/31/2024,KL // LG // CBO // DE Robert Geiss Interview 1...,inactive,0,0,-,Ongoing
2,12/31/2024,12/31/2024,HT_Lead_ABO_DIETER_BOHLEN,active,11426,13649,"2,037.50",Ongoing
3,12/31/2024,12/31/2024,KL_LG_CBO_Dubai أœberlebensstrategien Report 2...,active,10059,11486,"2,972.06",Ongoing
4,12/31/2024,12/31/2024,HT_Lead_Teestimonial,inactive,0,0,-,Ongoing
5,12/31/2024,12/31/2024,KL // CV // CB // AEON Creek Objektads DE,inactive,0,0,-,Ongoing
6,12/31/2024,12/31/2024,Recruiting Agents 2025,archived,0,0,-,End
7,12/31/2024,12/31/2024,KL // CV // CB // RYM Objektads DE,inactive,0,0,-,Ongoing
8,12/31/2024,12/31/2024,Recruiting Agents 2025,not_delivering,0,0,-,Ongoing
9,12/31/2024,12/31/2024,KL // CV // CBO // Sأ¼d-FRA Robert Geiss Inter...,inactive,0,0,-,Ongoing
10,12/31/2024,12/31/2024,HT_Lead_Testimonial,inactive,0,0,-,Ongoing
11,12/31/2024,12/31/2024,KL_LG_CBO_Dubai_Q3_Report_DE_neu,active,16396,21408,"1,986.80",Ongoing
12,12/31/2024,12/31/2024,HT_CBO_Lead_h1_report24_20241101,active,11756,14473,"2,563.52",Ongoing
13,12/31/2024,12/31/2024,KL // CV // CBO // Dubai Robert Geiss Intervie...,inactive,0,0,-,Ongoing
14,12/31/2024,12/31/2024,HT_CBO_Lead_h1_report24_20241101,inactive,0,0,-,Ongoing
15,12/31/2024,12/31/2024,KL // LG // CBO // Dubai Q3 Report,inactive,0,0,-,Ongoing
16,12/31/2024,12/31/2024,HT_ABO_Lead_Website_report24_20241101,inactive,0,0,-,Ongoing
17,12/31/2024,12/31/2024,KL // CV // CBO // DE Robert Geiss Interview 1...,inactive,0,0,-,Ongoing
18,12/31/2024,12/31/2024,KL_AMI_CBO_Monaco_Vermoegen_in_Sicherheit,inactive,0,0,-,Ongoing
19,12/31/2024,12/31/2024,Recuiting Social Media,inactive,0,0,-,Ongoing

In [25]:
print(df["Ends"].unique())

['Ongoing' 'End']

In [27]:
#Dropping rows where values are zero.
Drop_Reach = df[df["Reach"] == 0].index

df.drop(Drop_Reach, inplace=True)

In [28]:
df.head(10)

,Reporting starts,Reporting ends,Campaign name,Campaign delivery,Reach,Impressions,Amount spent (AED),Ends
0,12/31/2024,12/31/2024,HT_Lead_Testimonial - new,active,5168,6678,"1,556.28",Ongoing
2,12/31/2024,12/31/2024,HT_Lead_ABO_DIETER_BOHLEN,active,11426,13649,"2,037.50",Ongoing
3,12/31/2024,12/31/2024,KL_LG_CBO_Dubai أœberlebensstrategien Report 2...,active,10059,11486,"2,972.06",Ongoing
11,12/31/2024,12/31/2024,KL_LG_CBO_Dubai_Q3_Report_DE_neu,active,16396,21408,"1,986.80",Ongoing
12,12/31/2024,12/31/2024,HT_CBO_Lead_h1_report24_20241101,active,11756,14473,"2,563.52",Ongoing
22,12/31/2024,12/31/2024,KL_LG_CBO_DubaiVision_2040_DE,active,15775,17032,"2,523.66",Ongoing
26,12/31/2024,12/31/2024,KL_AMI_ABO_Spain_Vermoegen_in_Sicherheit,inactive,11889,19378,50.10,Ongoing
28,12/31/2024,12/31/2024,KL_AMI_ABO_Dubai_Vermoegen_in_Sicherheit,active,6052,12249,99.64,Ongoing
30,12/31/2024,12/31/2024,KL_AMI_ABO_Vermoegen_in_Sicherheit,active,41361,78629,195.12,Ongoing
32,12/31/2024,12/31/2024,KL_AMR_ABO_Vermoegen_in_Sicherheit,active,58182,59378,196.14,Ongoing

In [29]:
df.count()

Reporting starts        4716
Reporting ends          4716
Campaign name           4716
Campaign delivery       4716
Reach                   4716
Impressions             4716
 Amount spent (AED)     4716
Ends                    4716
dtype: int64

In [31]:
print(df.columns)

Index(['Reporting starts', 'Reporting ends', 'Campaign name',
       'Campaign delivery', 'Reach', 'Impressions', ' Amount spent (AED) ',
       'Ends'],
      dtype='object')

In [33]:
#DataType Conversion
df[" Amount spent (AED) "] = df[" Amount spent (AED) "].str.replace(",", "").str.strip().astype(float)
df[" Amount spent (AED) "] = df[" Amount spent (AED) "].round().astype(int)

In [34]:
df.head(10)

,Reporting starts,Reporting ends,Campaign name,Campaign delivery,Reach,Impressions,Amount spent (AED),Ends
0,12/31/2024,12/31/2024,HT_Lead_Testimonial - new,active,5168,6678,1556,Ongoing
2,12/31/2024,12/31/2024,HT_Lead_ABO_DIETER_BOHLEN,active,11426,13649,2038,Ongoing
3,12/31/2024,12/31/2024,KL_LG_CBO_Dubai أœberlebensstrategien Report 2...,active,10059,11486,2972,Ongoing
11,12/31/2024,12/31/2024,KL_LG_CBO_Dubai_Q3_Report_DE_neu,active,16396,21408,1987,Ongoing
12,12/31/2024,12/31/2024,HT_CBO_Lead_h1_report24_20241101,active,11756,14473,2564,Ongoing
22,12/31/2024,12/31/2024,KL_LG_CBO_DubaiVision_2040_DE,active,15775,17032,2524,Ongoing
26,12/31/2024,12/31/2024,KL_AMI_ABO_Spain_Vermoegen_in_Sicherheit,inactive,11889,19378,50,Ongoing
28,12/31/2024,12/31/2024,KL_AMI_ABO_Dubai_Vermoegen_in_Sicherheit,active,6052,12249,100,Ongoing
30,12/31/2024,12/31/2024,KL_AMI_ABO_Vermoegen_in_Sicherheit,active,41361,78629,195,Ongoing
32,12/31/2024,12/31/2024,KL_AMR_ABO_Vermoegen_in_Sicherheit,active,58182,59378,196,Ongoing

In [36]:
#Data Export
df.to_csv(r"C:\Users\windows\OneDrive\Desktop\Precious Data\Meta.csv", index=False)